@font-face {
  font-family: AppleFontDisplay;
  src: url('../fonts/SFProDisplay-Regular.woff');
}

@font-face {
  font-family: AppleFontTekst;
  src: url('../fonts/sf-pro-text_regular.woff');
}

body {
  margin: 0em;
  padding: 0em;
  overflow-y: scroll;
}


/* STANDAARD WAARDES */

main {
  font-family: AppleFontTekst, Arial;
}

h1 {
  font-family: AppleFontTekst, Arial;
  font-size: 32px;
  margin: 0;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h2 {
  font-family: AppleFontTekst, Arial;
  font-size: 32px;
  margin: auto;
  line-height: 1.125;
  font-weight: 600;
  width: auto;
}

p,
h3 {
  font-family: AppleFontTekst, Arial;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  /*  letter-spacing: .016em;*/
}

sup {
  font-size: 8px;
}

.homepagina h2 {
  animation: animation-Y-normal 1s ease;
}

.homepagina h3 {
  animation: animation-Y-normal 1.25s ease;
}

.homepagina .contentblok img {
  animation: animation-X-normal 1.5s ease;
}

.homepagina .contentblok a,
#footer-mobile {
  animation: animation-Y-normal 1.5s ease;
  z-index: 1;
}



/* MOBILE NAVIGATIE */

nav {
  background-color: rgba(50, 50, 50, 0.90);
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  transition: 1s;
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
  /*  https://css-tricks.com/almanac/properties/b/backdrop-filter/*/
}

body.menuOpen nav {
  z-index: 3;
  background-color: black;
}

nav a svg {
  height: 3.1em;
  color: #FFFFFE;
  vertical-align: middle;
}

.svg-achtergrond {
  fill: none;
}

svg {
  fill: #fff;
}

/* HAMBURGER MENU */
/*https://codepen.io/shooft/pen/jOMOroZ*/

nav button {
  position: relative;
  width: 2em;
  margin: 0;
  padding: 0;
  appearance: none;
  background-color: Transparent;
  border: none;
  /*  Outline*/
  /*  outline: none;*/
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



/* DESKTOP NAVIGATIE */

.desktop-nav {
  font-family: AppleFontTekst, Arial;
  background-color: rgba(50, 50, 50, 0.9);
  padding: 0em 1.5em;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  font-size: 14px;
  display: none;
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
  /* https://css-tricks.com/almanac/properties/b/backdrop-filter/  */
}

#hamburger-menu span {
  position: absolute;
  width: 1.25em;
  height: 0.25px;
  background-color: white;
  transition: .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#hamburger-menu span:first-of-type {
  transform: translatey(-5px);
}

#hamburger-menu span:last-of-type {
  transform: translatey(5px);
}

body.menuOpen #hamburger-menu span {
  transition: .25s ease-out;
}

body.menuOpen #hamburger-menu span:first-of-type {
  transform: translatey(0) rotate(45deg);
}



/*HAMBURGER MENU UITGEKLAPT*/

body.menuOpen #hamburger-menu-uitgeklapt {
  transform: translateY(0%);
}

#hamburger-menu-uitgeklapt h3 {
  padding: 0;
  margin: 0;
}



/* ZOEKBALK */

.zoekbalk {
  border-bottom: 0.1em solid #424245;
  padding-bottom: 1em;
  padding-top: 3.5em;

}

.zoekbalk input {
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  width: 90%;
  margin: 0 auto;
  display: block;
  font-size: 17px;
  background-color: #1D1D1F;
  /*  Outline*/
  outline: none;
  color: white;
}

.hamburger-menu-links {
  padding-left: 2.5em;
  font-family: AppleFontTekst, Arial;
}

.hamburger-menu-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
}

.hamburger-menu-links ul li a {
  text-decoration: none;
  color: #AFAFAF;
  display: block;
  padding: 0.65em 0em;
}

.hamburger-menu-links ul li a {
  border-bottom: 0.1em solid #424245;
}

.hamburger-menu-links ul li:last-of-type a {
  border: none;
}

.hamburger-menu-links ul li a:hover {
  color: white;
}

input[placeholder] {
  font-family: AppleFontTekst, Arial;
  font-weight: 400;
}

body.menuOpen #hamburger-menu span:last-of-type {

  transform: translatey(0) rotate(-45deg);
}


/* DESKTOP NAVIGATIE */

#hamburger-menu-uitgeklapt {
  position: fixed;
  /*  background-color: rgba(255,255,255,0.5);*/
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  /*  transition: 0.5s;*/
  transition: 1s ease-in-out;
  z-index: 2;
}

.desktop-nav svg {
  height: 3.3em;
  vertical-align: middle;
}

.desktop-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.desktop-nav ul li {
  margin: auto 0;
}

.desktop-nav a {
  color: #F5F5F7;
  text-decoration: none;
}

.desktop-nav a:hover {
  color: white;
  text-decoration: none;
}

.iphone .desktop-nav {
  background-color: black;
  position: static;
}



/* HEADER BERICHT */

.header-bericht-blok {
  /*  background-color: #E3413F;*/
  /*  background-color: #1C1C1E;*/
  background-color: #F5F5F7;
  text-align: center;
  font-size: 14px;
  text-align: center;
}

.header-bericht-blok p {
  font-family: AppleFontTekst, Arial;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  /*  letter-spacing: .016em;*/
  display: block;
  color: #1D1D1F;
  padding: 0.75em 0.5em;
  max-width: 55em;
  margin: auto;
}

.header-bericht-blok a {
  /*
  font-size: 14px;
  color: #0071e3;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
  text-decoration: none;
*/
  font-size: 14px;
  color: white;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: .01em;
  text-decoration: none;
  color: #0071e3;
}

.header-bericht-blok a:hover {
  text-decoration: underline #0071e3;
}



/*1E CONTENT BLOK | Intro Homepage */

.contentblok {
  text-align: center;
  background-color: black;
  color: white;
}

.contentblok h1 {
  padding-top: 1em;
  margin-bottom: -0.5em;
}

.contentblok h1 ~ h2 {
  margin: 1em auto;
  /*  https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_gen_sibling */
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -.022em;
}

.contentblok img {
  width: 100%;
}

.intro-iphone12 p {
  color: rgba(255, 255, 255, 0.5);
  animation: animation-Y-normal 1.5s ease;
}

.intro-iphone12 h3 {
  color: rgba(255, 255, 255, 0.5);
}

.contentblok-link {
  display: flex;
  justify-content: space-around;
  max-width: 15em;
  margin: auto;
}

.contentblok-link a {
  text-decoration: none;
  color: #0071e3;
  font-size: 17px;
}

.contentblok-link a:hover {
  text-decoration: underline #0071e3;
}

.fa-chevron-right {
  padding-left: 0.5em;
  line-height: 1.21053;
  font-size: 0.75em;
}



/*2E CONTENT BLOK | Iphone 12 */

.homepagina .iphoneTwaalf {
  background-color: #fbfbfd;
  /*
  background-image: url("../images/homepage-iphone12Pro-verschillende-kleuren.jpg");
  background-repeat: no-repeat;
  background-position: center;
*/
  color: black;
}

.homepagina .iphoneTwaalf p {
  color: rgba(0, 0, 0, 0.6);
  animation: animation-Y-normal 1.5s ease;
}

.homepagina .iphoneTwaalf h2 {
  padding-top: 1em;
}

.homepagina .iphoneTwaalf h3 {
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -.022em;
  margin: 0.5em;
}



/* 3E CONTENT BLOK | Gifts */

.homepagina .iphoneTwaalf-gifts {
  background-color: #fbfbfd;
  margin-top: 1em;
}

.homepagina .iphoneTwaalf-gifts img:first-of-type {
  height: 3.4em;
  width: auto;
  margin-top: 2em;
  animation: animation-X-normal 1s ease;
}

.homepagina .iphoneTwaalf-gifts h2 {
  margin: 0.2em 2em 0.5em;
  padding: 0em;
  color: black;
  animation: animation-X-reverse 1.5s ease;
}

.iphoneTwaalf-gifts a {
  text-decoration: none;
  color: #0071e3;
  font-size: 17px;
  display: block;
  animation: animation-Y-normal 1.5s ease;
}

.iphoneTwaalf-gifts a:hover {
  text-decoration: underline #0071e3;
}

.homepagina .iphoneTwaalf-gifts img:last-child {
  height: 17em;
  width: auto;
  margin: 1em 0;
  animation: animation-Y-normal 1.5s ease;
}



/* 4E CONTENBLOK | Apple Watch*/

.homepagina .apple-watch {
  margin-top: 1em;
}

.homepagina .apple-watch img:first-of-type {
  height: 3em;
  width: auto;
  margin-top: 2em;
}

.homepagina .apple-watch img:last-of-type {
  margin-top: 2em;
  width: 30%;
}

.homepagina .apple-watch h3 {
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -.022em;
  margin: 0.5em;
}



/* 5E CONTENT BLOK | HomePod mini */

.homepagina .homepod-mini {
  background-color: #fbfbfd;
  margin-top: 1em;
}

.homepagina .homepod-mini-link {
  margin-top: 1.5em;
  padding-bottom: 2.5em;
}

.homepagina .homepod-mini h2 {
  color: black;
}

.homepagina .homepod-mini img {
  width: 60%;
}



/* 6E CONTENT BLOK | MacBook Air */

.homepagina .macbook-air {
  background-color: black;
  margin-top: 1em;
}

.homepagina .macbook-air h2 {
  padding-top: 1em;
}

.homepagina .macbook-air h3 {
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -.022em;
  margin: 0.5em;
}

.homepagina .macbook-air img {
  width: 60%;
}



/* 7E CONTENT BLOK | Apple One */

.homepagina .apple-one {
  background-color: #fbfbfd;
  margin-top: 1em;
  color: black;
}

.homepagina .apple-one img:first-of-type {
  height: 1.75em;
  width: auto;
  margin-top: 2em;
}

.homepagina .apple-one img:last-of-type {
  margin-top: 2em;
  width: 60%;
}

.apple-one h2 {
  margin: 1em auto;
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -.022em;
}



/* 7E CONTENT BLOK | Apple News */


/*
.homepagina .apple-news {
  background-color: #FF2D55;
  margin-top: 1em;
  color: white;
}

.homepagina .apple-news h2 {
  line-height: normal;
}

.homepagina .apple-news-link a {
  color: white;
}

.homepagina .apple-news-link a:hover {
  text-decoration: underline white;
}

.homepagina .apple-news img:first-of-type {
  height: 1.75em;
  width: auto;
  margin-top: 2em;
}

.homepagina .apple-news img:last-of-type {
  width: 100%;
}

.apple-news h2 {
  margin: 1em auto;
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -.022em;
}
*/



/* 8E CONTENT BLOK | Apple Card */


.homepagina .apple-card {
  background-color: #fbfbfd;
  margin-top: 1em;
  color: black;
}

.homepagina .apple-card img:first-of-type {
  height: 2em;
  width: auto;
  margin-top: 2em;
}

.homepagina .apple-card h2 {
  line-height: normal;
  margin: 1em auto;
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -.022em;
}

.homepagina .apple-card img:last-of-type {
  width: 60%;
  margin-top: 2em;
}

.homepagina .apple-card a {
  display: block;
  text-decoration: none;
  color: #0071e3;
  font-size: 17px;
}

.homepagina .apple-card a:hover {
  text-decoration: underline #0071e3;
}



/* 9E CONTENT BLOK | Apple TV */


/*
.homepagina .apple-tv {
  background-image: url("../images/apple-tv-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1em;
  color: black;
  background-color: #fbfbfd;
  padding-top: 2em;
  position: relative;
  width: 100%;
}

.homepagina .apple-tv h2 {
  margin: 0.5em auto;
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -.022em;
}

.homepagina .apple-tv a {
  text-decoration: none;
  color: #0071e3;
}

.homepagina .apple-tv a:hover {
  text-decoration: underline #0071e3;
}


.homepagina .apple-tv img:first-of-type {
  height: 1.6em;
  width: auto;
  display: block;
  margin: auto;
}

.homepagina .apple-tv-content {
  position: absolute;
  bottom: 2em;
  margin: auto;
  width: 100%;
}

.homepagina .apple-tv .apple-tv-content img {
  height: 4em;
}
*/




/*
.homepagina .apple-tv {
  background-image: url("../images/apple-tv-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1em;
  color: black;
  background-color: #fbfbfd;
  padding: 2em 0;
  height: 25em;
  position: relative;
}

.homepagina .apple-tv h2 {
  margin: 0.5em auto;
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -.022em;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
}

.homepagina .apple-tv a {
  text-decoration: none;
  color: #0071e3;
  font-size: font-size: 17px;
  bottom: 1em;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
}

.homepagina .apple-tv a:hover {
  text-decoration: underline #0071e3;
}

.homepagina .apple-tv img:first-of-type {
  height: 1.6em;
  width: auto;
  padding-bottom: 13em;
  display: block;
  margin: auto;
}

.homepagina .apple-tv img:last-of-type {
  height: 4em;
  width: auto;
  margin-top: 2em;
}
*/





.homepagina .apple-tv {
  background-image: url("../images/apple-tv-achtergrond.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1em;
  color: white;
  background-color: #fbfbfd;
  padding: 2em 0;
  height: 25em;
  position: relative;
}

.homepagina .apple-tv h2 {
  margin: 0.5em auto;
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -.022em;
  bottom: 3em;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
}

.homepagina .apple-tv a {
  text-decoration: none;
  color: #2997ff;
  font-size: font-size: 17px;
  bottom: 2em;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
}

.homepagina .apple-tv a:hover {
  text-decoration: underline #2997ff;
}

.homepagina .apple-tv img:first-of-type {
  height: 1.6em;
  width: auto;
  display: block;
  margin: auto;
}

.homepagina .apple-tv img:last-of-type {
  height: 4em;
  width: auto;
  margin-top: 2em;
}







/*
.homepage-apple-card h2 {
  width: 50%;
}

.homepage-apple-one img:last-of-type {
  height: 18.5em;
  width: auto;
  margin-top: 2em;
}
*/


/*
BLACK FRIDAY

.homepage-black-friday{
  margin-bottom: 1em;
}


.homepage-black-friday img{
  height: 20em;
  width: auto;
  padding-top: 2.5em;
}

.homepage-black-friday h1{
  width: 50%;
  margin: 0 auto;
  padding-bottom: 0.5em;
}

.homepage-black-friday a{
  padding-bottom: 1em;
}
*/



/* PAGINA 2 | iPhone */

.iphone-pagina-navbar {
  background-color: black;
}

/* HEADER BERICHT | iPhone*/

.header-bericht-iphone {
  background-color: #1D1D1F;
}

.header-bericht-iphone p {
  font-family: AppleFontTekst, Arial;
  margin: 0em auto;
  width: 60%;
  font-size: 12px;
  color: white;
  width: 80%;
}

.header-bericht-iphone a {
  font-size: 12px;
  color: #0071e3;
}

.header-bericht-iphone a:hover {
  text-decoration: underline #0071e3;
}



/* PRODUCT NAVIGATIE | iPhone */


.product-nav {
  background-color: #111113;
}


.product-nav ul {
  list-style: none;
  margin: 0;
  padding: 1em 1.5em 0.5em;
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  animation: animation-X-normal 0.5s ease;
}

.product-nav ul::-webkit-scrollbar {
  display: none;
}

.product-nav ul li {
  text-align: center;
  padding-bottom: 0.5em;
  min-width: 6em;
}

.product-nav ul li a svg {
  /*  transform: scale(0.5);*/
  height: 3.5em;
}

.product-nav ul li a {
  text-decoration: none;
}

.product-nav ul li a span {
  font-family: AppleFontText, Arial;
  color: white;
  font-size: 12px;
  display: block;
  padding-top: 0.5em;
}

.product-nav ul li a span:hover {
  color: #0071e3;
}

.product-nav ul li > span:last-child {
  font-size: 10px;
  color: #f56300;
}



/* iPhone contentblokken */

.iphone {
  background-color: #F2F2F2;
}

.iphone .contentblok {
  background-color: black;
  color: white;
  text-align: center;
  animation: animation-Y-normal 0.75s ease;
}

.iphone .contentblok h1 {
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  padding-top: 2em;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-bottom: -0.5em;
  animation: animation-Y-normal 1s ease;
}

.iphone .contentblok h2 {
  font-size: 38px;
  font-weight: 600;
  margin: 0.5em auto;
  margin-bottom: 0.25em;
  animation: animation-Y-normal 1.25s ease;
}

.iphone .contentblok p {
  font-size: 17px;
  /*  margin: 0.5em auto;*/
  margin: auto;
  color: #F5F5F7;
  animation: animation-Y-normal 1.5s ease;
}

.iphone .contentblok a {
  text-decoration: none;
  color: #0071e3;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.05em;
  animation: animation-Y-normal 2s ease;
}

.iphone .iphone-twaalf-gen a:first-of-type {
  background-color: #0071e3;
  color: white;
  padding: 0.5em 0.75em;
  display: block;
  margin: 1em auto;
  width: 2em;
  border-radius: 1em;
  animation: animation-Y-normal 1.75s ease;
}

.iphone .contentblok a:hover {
  text-decoration: underline #0071e3;
}

.iphone .contentblok img {
  display: block;
  margin: auto;
  width: 50%;
}


/* 1E CONTENTBLOK | IPHONE PAGINA | iPhone 12 generaties */

.iphone .iphone-twaalf-gen {
  background-color: #fbfbfd;
  color: black;
}

.iphone .iphone-twaalf-gen p {
  color: black;
}

.iphone .iphone-twaalf-gen img {
  width: 100%;
}



/* 2E CONTENTBLOK | IPHONE PAGINA - iPhone 12 Pro */

.iphone .iphone-twaalf-pro h2 {
  font-family: AppleFontTekst, Arial;
  font-size: 19px;
  padding-top: 2em;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin: 0;
  padding-top: 3em;
  margin-bottom: -0.5em;
}

.iphone .iphone-twaalf-pro h3 {
  font-size: 38px;
  font-weight: 600;
  margin: 0.5em auto;
  margin-bottom: 0.25em;
  animation: animation-Y-normal 1.25s ease;
}

.iphone .iphone-twaalf-pro img {
  margin-top: 3em;
}

.iphone .iphone-twaalf-pro {
  padding-bottom: 3em;
}

.iphone .iphone-twaalf-pro a:first-of-type {
  background-color: #0071e3;
  color: white;
  padding: 0.5em 0.75em;
  display: block;
  margin: 1em auto;
  width: 2em;
  border-radius: 1em;
}



/* 3E CONTENTBLOK |IPHONE PAGINA | Vergelijken  */

.iphone .iphone-compare {
  background-color: white;
  color: black;
}

.iphone .iphone-compare .alle-vergelijk-modellen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3em;
  justify-content: space-around;
  max-width: 30em;
  margin: auto;
}

.iphone .iphone-compare h2 {
  font-size: 32px;
  margin: 0;
  padding: 3em 0 0.5em;
}

.iphone .iphone-compare p {
  color: black;
  font-size: 14px;
}

.iphone .iphone-compare a {
  font-size: 19px;
}

.iphone .iphone-compare article {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 5em;
  width: 50%;
}

.iphone .iphone-compare h3 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.iphone .iphone-compare h3 ~ span {
  font-size: 14px;
  font-weight: 600;
}

.iphone .iphone-compare ul {
  margin: 0;
  padding: 0;
  max-width: 10em;
  padding-top: 1em;
}

.iphone .iphone-compare ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
.iphone .iphone-compare .iphone12-compare li:nth-last-of-type(2) p{
  padding: 1.34em 0;
}

.iphone .iphone-compare .iphone11-pro-compare li:nth-last-of-type(2) p{
  padding: 1.34em 0;
}

.iphone .iphone-compare .iphone11-pro-compare li:last-of-type p{
  padding: 0.6em 0;
}

.iphone .iphone-compare .iphone11-compare li:nth-last-of-type(2) p{
  padding: 1.34em 0;
}

.iphone .iphone-compare .iphone11-compare li:last-of-type p{
  padding: 0.6em 0;
}
*/


.iphone .iphone-compare ul:first-of-type li {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 1em;
}

.iphone .iphone-compare article a {
  font-size: 14px;
}

.iphone .iphone-compare article a:first-of-type {
  font-size: 12px;
  display: block;
  width: 4em;
  text-align: center;
  padding: 0.5em 0;
  margin-bottom: 1em;
  color: white;
  background-color: #0071e3;
  border-radius: 5em;
  margin-top: 2em;
}

.iphone .iphone-compare img {
  width: 50%;
  margin: 0;
}



/* iPhone kleuren */

.iphone-compare .kleuren-bollen {
  /*  padding-top: 1em;*/
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*  width: 7.5em;*/
  /*  height: 7em;*/
}

.iphone-compare .kleuren-bollen span {
  height: 1.75em;
  width: 1.75em;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  border: 2px solid white;
  margin: auto 0;
}

.iphone-compare .kleuren-bollen span:hover {
  border: 2px solid white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}



/* iPhone 12 pro kleuren */

.iphone12-pro-kleuren li:first-of-type span {
  background-color: #5B5956;
}

.iphone12-pro-kleuren li:nth-child(2) span {
  background-color: #2d4e5c;
}

.iphone12-pro-kleuren li:nth-child(3) span {
  background-color: #e3ccb4;
}

.iphone12-pro-kleuren li:nth-child(4) span {
  background-color: #E4E5E1;
  /*  margin-bottom: 2.32em;*/
}

/*
.iphone12-pro-kleuren li:last-of-type span {
  visibility: hidden;
}
*/



/* iPhone 12 kleuren */

.iphone12-kleuren li:first-of-type span {
  background-color: #2d4e5c;
}

.iphone12-kleuren li:nth-child(2) span {
  background-color: #D8EFD5;
}

.iphone12-kleuren li:nth-child(3) span {
  background-color: #D82E2E;
}

.iphone12-kleuren li:nth-child(4) span {
  background-color: #F5F5F7;
}

.iphone12-kleuren li:nth-child(5) span {
  background-color: #25212B;
}



/* iPhone 11 pro kleuren */

.iphone11-pro-kleuren li:first-of-type span {
  background-color: #4E5851;
}

.iphone11-pro-kleuren li:nth-child(2) span {
  background-color: #EBEBE3;
}

.iphone11-pro-kleuren li:nth-child(3) span {
  background-color: #535150;
}

.iphone11-pro-kleuren li:nth-child(4) span {
  background-color: #FAD7BD;
  /*  margin-bottom: 2.32em;*/
}



/* iPhone 11 kleuren */

.kleuren-bollen .iphone11-kleuren {
  max-width: 5em;
}

.iphone11-kleuren li:first-of-type span {
  background-color: #D1CDDA;
}

.iphone11-kleuren li:nth-child(2) span {
  background-color: #FFE681;
}

.iphone11-kleuren li:nth-child(3) span {
  background-color: #AEE1CD;
}

.iphone11-kleuren li:nth-child(4) span {
  background-color: #1F2020;
}

.iphone11-kleuren li:nth-child(5) span {
  background-color: #F9F6EF;
}

.iphone11-kleuren li:nth-child(6) span {
  background-color: #BA0C2E;
}



/* 4E CONTENTBLOK |IPHONE PAGINA | Ways to buy */

.ways-to-buy {
  max-width: 90em;
  margin: auto;
}

.retail {
  text-align: center;
  padding-top: 6em;
}

.retail h2 {
  color: black;
  padding-bottom: 1em;
}



/* 5E CONTENTBLOK | IPHONE PAGINA - iPhone artikelen */

.iphone .iphone-artikel {
  background-color: white;
  color: black;
  padding: 2em 0;
  margin-bottom: 1em;
}

.iphone .iphone-artikel h2 {
  font-size: 32px;
}

.iphone .iphone-artikel h3 {
  font-size: 32px;
  font-weight: 600;
  margin: 0.5em auto;
  margin-bottom: 0.25em;
}

.iphone .iphone-artikel p {
  color: black;
  margin-bottom: 1em;
}

.iphone .iphone-artikel img {
  width: 70%;
  margin-top: 2em;
}


/* iPhone Credits*/

.iphone .apple-credit img {
  width: 90%;
}


/* Apple Upgrade*/

.iphone .apple-upgrade img {
  padding-top: 2em;
}


/* 6E CONTENTBLOK | IPHONE PAGINA | iPhone Accesoires */

.featured-accesories {
  max-width: 75em;
  margin: auto;
}


/* iPhone magsafe*/

.iphone .magsafe img {
  width: 50%;
}


/* Airpods */

.iphone .airpods .airpods-link {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
}

.airpods .airpods-content a {
  padding: 0.5em;
}



/* 7E CONTENTBLOK | IPHONE PAGINA | Apple Voordelen */

.benefits {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75em;
  margin: auto;
  text-align: center;
  margin-top: 5em;
}

.benefits article {
  margin-bottom: 5em;
  animation: animation-X-normal 1s ease;
}

.benefits article:nth-child(3) {
  margin-bottom: 5em;
  animation: animation-X-reverse 1s ease;
}

.benefits h2 {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.benefits p {
  font-size: 17px;
  margin: 0.5em 0;
}

.benefits a {
  text-decoration: none;
  color: #0071e3;
  font-size: 17px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.benefits > a {
  font-size: 21px;
  padding-bottom: 4em;
  width: 100%;
}

.benefits a:hover {
  text-decoration: underline #0071e3;
}



/* FOOTER */

footer {
  background-color: #F5F5F7;
  font-family: AppleFontTekst, Arial;
  color: #86868B;
  padding: 0.5em 1.5em;
  margin-top: 1em;
  padding-bottom: 1.5em;
}



/* FOOTER TEKST */

footer .footer-content {
  max-width: 60em;
  margin: auto;
  border-bottom: 1px solid #d2d2d7;
}

footer .footer-content p {
  font-size: 12px;
}

footer .footer-content p:last-of-type {
  padding-bottom: 1em;
}

footer .footer-list {
  max-width: 60em;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

footer .footer-list ul {
  padding: 0;
  margin: 0;
  font-size: 12px;
  width: 20%;
  padding: 0 1em;
}

footer .footer-list ul:first-of-type,
footer .footer-list ul:last-of-type {
  padding: 0em;
}

footer .footer-list ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 1em;
}

footer .footer-list ul li:first-of-type {
  padding: 1em 0 0.25em;
}

footer .footer-list ul li p {
  color: #1D1D1F;
  font-size: 12px;
  font-weight: 600;
}

footer .footer-list ul li a {
  text-decoration: none;
  color: #515154;
}

footer .footer-list ul li:not(:first-child) p {
  margin-bottom: 0;
}

footer .footer-list ul {
  display: none;
}



/* FOOTER LINKS */

footer .footer-informatie {
  max-width: 60em;
  margin: auto;
  padding-top: 1em;
}

footer .footer-informatie p {
  padding: 1em 0;
  margin: 0;
  font-size: 12px;
}

footer .footer-informatie > p {
  border-bottom: 1px solid #d2d2d7;
}

footer .footer-informatie a {
  text-decoration: none;
  color: #0066CC;
}

footer .footer-informatie a:hover {
  text-decoration: underline #0066CC;
}



/* COPYRIGHT EN LINKS*/

footer .copyright-en-links {
  max-width: 60em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

footer .copyright-en-links ul {
  padding: 0;
  margin: 0;
  font-size: 12px;
  display: inline;
}

footer .copyright-en-links .footer-links {
  margin: 0;
}

footer .copyright-en-links ul li {
  padding: 0 0.75em;
  margin: 0;
  list-style: none;
  display: inline;
  margin: auto 0;
  border-right: 1px solid #d2d2d7;
}

footer .copyright-en-links ul li:first-of-type {
  padding-left: 0;
}

footer .copyright-en-links a {
  padding-top: 1em;
  margin: 0;
}

footer .copyright-en-links a {
  font-size: 12px;
  color: #515154;
}

footer .copyright-en-links a:hover {
  text-decoration: underline #1d1d1f;
}

.footer-links ul li a {
  color: #515154;
}

.footer-links ul li a:hover {
  text-decoration: underline #1d1d1f;
}



/* FOOTER MOBILE */

footer #footer-mobile {
  max-width: 60em;
  margin: auto;
}

footer #footer-mobile h3 {
  color: #1D1D1F;
  font-size: 12px;
  position: relative;
}

footer #footer-mobile h3:after {
  content: '+';
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  margin-right: 1em;
  transition: 0.5s;
}

footer #footer-mobile div {
  border-bottom: 1px solid #d2d2d7;
  cursor: pointer;
}

footer #footer-mobile ul {
  padding: 0;
  margin: 0;
  font-size: 12px;
  /*  width: 20%;*/
  padding: 0 1em;
}

footer #footer-mobile ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 1em;
}

footer #footer-mobile ul li:first-of-type {
  padding-top: 0.5em;
}

footer #footer-mobile ul li:last-of-type {
  padding-bottom: 1.5em;
}

footer #footer-mobile ul li a {
  text-decoration: none;
  color: #515154;
}



/*FOOTER UITGEKLAPT*/

#footer-mobile ul {
  opacity: 0;
  height: 0;
  transition: 0s;
  transform: translateY(-25px);
  display: none;
}

#footer-mobile ul.active {
  opacity: 1;
  display: block;
  height: auto;
  transform: translateY(0);
  transition: 0.4s;
}

footer #footer-mobile h3.active:after {
  transform: rotate(45deg);
}
















/* MEDIA QUERYS | 735px */

@media (min-width: 735px) {

  .desktop-nav {
    display: block;
  }

  .desktop-nav ul {
    max-width: 70em;
    margin: auto;
  }

  nav {
    display: none;
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex > .contentblok {
    width: 50%;
  }

  .flex2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #hamburger-menu-uitgeklapt {
    display: none;
  }

  .homepagina .apple-news img:last-of-type {
    width: 80%;
  }

  .homepagina .iphoneTwaalf-gifts {
    background-image: url("../images/halve-iphone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 30em;
  }

  .homepagina .iphoneTwaalf-gifts img:last-of-type {
    display: none;
  }

  .product-nav ul {
    justify-content: center;
  }

  .header-bericht-2e-iphone a {
    display: inline-block;
  }

  .iphone-artikel {
    margin: 0 1em;
  }

  .flex2 .iphone-artikel {
    width: calc(50% - 2em);
  }

  .benefits article {
    min-width: 25em;
  }

  .iphone-apple-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .contentblok img {
    width: 65%;
  }

  .iphone-apple-card .apple-card-content {
    margin: auto;
  }

  .iphone-apple-card img {
    margin: auto;
    max-width: 40%;
  }

  .iphone .apple-credit img {
    width: 100%;
  }

  .iphone .iphone-artikel img {
    width: 100%;
  }

  .iphone .iphone-twaalf-gen img {
    width: 60%;
  }

  .iphone .iphone-twaalf-pro img {
    width: 20%;
  }

  .iphone .magsafe img {
    width: 35%;
    margin: 0;
    padding: 0;
  }

  .iphone .airpods img {
    width: 40%;
    margin: auto 0;
  }

  .magsafe {
    display: flex;
    justify-content: space-around;
  }

  .magsafe-content {
    margin: auto 0;
  }

  .airpods {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .airpods-content {
    padding: 5em 0;
  }

  .iphone .airpods .airpods-link {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: auto;
  }

  .benefits {
    flex-direction: row;
  }

  .iphone .iphone-compare ul {
    max-width: 75%;
  }

  footer .footer-list ul {
    display: block;
  }

  footer #footer-mobile {
    display: none;
  }

  /*
  .iphone .iphone-compare ul:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
*/

  /*
  .iphone .iphone-compare ul:first-of-type li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 33%;
  }

  .iphone12-pro-kleuren li:nth-child(4) span {
    background-color: #E4E5E1;
    margin-bottom: 0em;
  }

  .iphone11-pro-kleuren li:nth-child(4) span {
    background-color: #FAD7BD;
    margin-bottom: 0em;
  }
*/

}


/* MEDIA QUERYS | 1069px */

@media (min-width: 1069px) {
  h1 {
    font-size: 40px;
  }

  .contentblok img {
    width: 40%;
  }

  .homepagina .contentblok h1, h2 {
    font-size: 56px;
  }

  .homepagina .iphoneTwaalf h3 {
    font-size: 28px;
  }

    .homepagina .macbook-air h2, .homepagina .homepod-mini h2  {
    font-size: 32px;
  }

  .contentblok h1 ~ h2 {
    font-size: 28px;
  }

/*
    .contentblok a {
      font-size: 21px;
    }
*/

  .homepagina .contentblok p, h3 {
    font-size: 17px;
  }

  .header-bericht-blok p {
    max-width: 100%;
  }

  .homepagina .apple-tv {
    height: auto;
    padding: 3em 0;
  }

  .iphone .iphone-compare .alle-vergelijk-modellen {
    max-width: 55em;
  }

  .iphone .iphone-compare article {
    padding: 0 1em;
    width: calc(25% - 2em);
  }

  .iphone-compare .kleuren-bollen span {
    height: 1.25em;
    width: 1.25em;
  }

  .iphone .iphone-compare ul:first-of-type li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    padding-right: 0.15em;
  }

  .iphone-compare .kleuren-bollen {
    width: auto;
  }

  footer .footer-list ul {
    width: auto;
  }

  .iphone .contentblok p {
    font-size: 21px;
  }

  .iphone .alle-vergelijk-modellen ul li p {
    font-size: 14px;
  }

  .iphone .contentblok h1,
  .iphone .iphone-twaalf-pro h2 {
    font-size: 24px;
  }

  .iphone .iphone-twaalf-gen h2,
  .iphone .iphone-twaalf-pro h3 {
    font-size: 48px;
  }

  .iphone .iphone-artikel h3 {
    font-size: 48px;
  }

  .iphone .iphone-artikel p,
  .iphone .contentblok a {
    font-size: 21px;
  }

  .retail h2 {
    font-size: 56px;
  }

  .iphone .iphone-compare h2 {
    font-size: 48px;
  }

  .iphone .iphone-compare a {
    font-size: 24px;
  }

  .benefits > a {
    font-size: 24px;
  }

  .benefits article h2,
  .benefits article p,
  .benefits article a {
    font-size: 21px;
  }

  .iphone .iphone-compare ul {
    max-width: 100%;
  }

  .iphone .iphone-compare h3 {
    font-size: 24px;
  }

  .iphone .iphone-compare img {
    width: 90%;
  }

  .benefits article {
    margin-bottom: 5em;
    animation: animation-Y-normal 1s ease;
  }

  .benefits article:nth-child(3) {
    margin-bottom: 5em;
    animation: animation-Y-normal 1s ease;
  }


  footer .copyright-en-links {
    flex-direction: row;
  }

  footer .copyright-en-links .footer-links {
    margin: auto 0;
  }

  footer .copyright-en-links a {
    padding: 0;
    margin: auto 0;
  }

  .iphone .iphone-twaalf-gen a:first-of-type,
  .iphone .iphone-twaalf-pro a:first-of-type {
    font-size: 17px;
  }

}



/* KEYFRAMES */

@keyframes animation-X-normal {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animation-X-reverse {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animation-Y-normal {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
